.sw?
.*.sw?
*.pyc
*.hi
*.hie
.daml
.venv
.vscode
.DS_Store
.idea
.cache
.mypy_cache
.poetry.ready
.pytest_cache
dist
python/build
python/dazl.egg-info
python/dist
python/pip-wheel-metadata
app.log
canton.log
canton_errors.log
navigator.log
sandbox.log
target
*#
*~
