@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-flow: row wrap;
    background: #F2F3F7;
    color: #354C86;
}

pre {
    font-family: "Source Code Pro", monospace;
    background: #F2F3F7;
}

.pre {
    font-family: "Source Code Pro", monospace;
}

header {
    flex: 1 100%;
}

nav {
    flex: 0 auto;
    width: 300px;
}

main {
    flex: 1 0;
    background: white;
    padding: 10px;
    box-sizing: border-box;
}

footer {
    flex: 1 100%;
}
